<!DOCTYPE html>
html(lang="en")
	head
		title 
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		meta(name='keywords', content='')
		meta(name='description', content='')
		meta(property='vk:image', content='')
		meta(property='og:image', content='')
		meta(property='image', content='')
		meta(property='vk:Description', content='')
		meta(property='og:title', content='')
		meta(property='og:type', content='')
		meta(property='og:url', content='')
		meta(property='og:Description', content='')
		link(rel='alternate', hreflang='', href='/')
		link(rel='image_src', href='')
		link(rel='shortcut icon', href='')
		link(rel='apple-touch-icon', sizes='128x128', href='')
		link(rel='apple-touch-icon-precomposed', sizes='128x128', href='')
		link(rel='stylesheet', href='public/build/styles.min.css')
	body
		//- include include/header
		block content
		//- include include/footer
